<link rel="stylesheet" type="text/css" href="./panel-style.css" />
<script src="./panel-page-script.js"></script>
<h1><nobr>
    <img src="./images/icon-32.png" />
    stracrl
    <img id="powerButton" class="interactive" src="./images/power-on.png" title="Turn stracrl off"
        onclick='togglePowerState();' />
    <button type="button" id="addRemoveButton" class="interactive">Add current page</button>
</nobr></h1>
Enabled pages:
<div id="enabledPagesContainer">

</div>
