.interactive {
    cursor: pointer;
}

.pageListing {
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 3px 10px 3px 10px;
}

.pageListing img {
    float: right;
}
